html {
    font-size: 14px;

}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    background-color: #f1f2eb;
}

footer {
    width: 100%;
    color: #a3acac;
    background: #121a1a;
    display: block;
    /*    position: absolute;
    float: left;
    vertical-align: middle;*/
    text-align: center;
    position: relative;
}


.footer p {
    margin-bottom: 0;
}

footer p a {
    color: #555;
}

    footer p a:hover {
        color: #9f26aa;
        text-decoration: none;
    }

header {
    padding-top: 55px;
    background: #f1f2eb
}
