@model ProyectoDES_Empresa.Models.Categoria

@{
    ViewData["Title"] = "Registrar";
}

<html>
<head>
    <title>Registar Categoria</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="~/css/Create.css" />

</head>
<body>
    <section>
        <div class="container">
            <h3> REGISTRAR CATEGORIA</h3>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Categorias" asp-action="Index">Lista de Categorias </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Registrar Categoria</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <i class="fa fa-envelope"></i> Ingrese el nombre de la categoria.
                    </div>
                    <div class="card-body">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="NombreCategoria" class="control-label"></label>
                                <input asp-for="NombreCategoria" class="form-control" />
                                <span asp-validation-for="NombreCategoria" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DescripcionCategoria" class="control-label"></label>
                                <input asp-for="DescripcionCategoria" class="form-control" />
                                <span asp-validation-for="DescripcionCategoria" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Registrar" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
