@model ProyectoDES_Empresa.Models.Categoria

@{
    ViewData["Title"] = "Detalles";
}

<html>
<head>
    <title>Información de la Categoria</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="~/css/Create.css" />
    <link rel="stylesheet" href="~/css/Index.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
</head>
<body>
    <div class="container">
        <div class="contenedorInterno">     
            <h3> INFORMACIÓN DE LA CATEGORIA</h3>
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Categorias" asp-action="Index">Ver Lista de Categorias </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Información de la Categoria</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div>
            <h4>CATEGORIA</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.NombreCategoria)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.NombreCategoria)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.DescripcionCategoria)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.DescripcionCategoria)
                </dd>
            </dl>
        </div>
        <hr />
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-raised btn-primary">Editar</a>
            <a asp-action="Index" class="btn btn-raised btn-secondary">Regresar</a>
        </div>
    </div>
</div>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>

