@model ProyectoDES_Empresa.Models.Empleado

@{
    ViewData["Title"] = "Editar";
}

<html>
<head>
    <title>Modificar Información de Empleado</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="~/css/Create.css" />
    <link rel="stylesheet" href="~/css/Index.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">

</head>
<body>
    <div class="container">
        <div class="contenedorInterno">
            <h3> MODIFICAR INFORMACIÓN DE EMPLEADO</h3>
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Empleados" asp-action="Index">Lista de Empleados </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Modificar Información de Empleado</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        Ingrese los datos solicitados del empleado.
                    </div>
                    <div class="col-md-7 card-body">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ID" />
                            <div class="form-group">
                                <label asp-for="NombreEmpleado" class="control-label"></label>
                                <input asp-for="NombreEmpleado" class="form-control" />
                                <span asp-validation-for="NombreEmpleado" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ApellidoEmpleado" class="control-label"></label>
                                <input asp-for="ApellidoEmpleado" class="form-control" />
                                <span asp-validation-for="ApellidoEmpleado" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ComisionVentaEmpleado" class="control-label"></label>
                                <input asp-for="ComisionVentaEmpleado" class="form-control" />
                                <span asp-validation-for="ComisionVentaEmpleado" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Guardar Cambios" class="btn btn-raised btn-primary" />
                                <a asp-action="Index" class="btn btn-raised btn-secondary">Regresar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
