@model ProyectoDES_Empresa.Models.Venta

@{
    ViewData["Title"] = "Registrar";
}

<html>
<head>
    <title>Registar Venta</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="~/css/Create.css" />
    <link rel="stylesheet" href="~/css/Index.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">

</head>
<body>
    <div class="container">
        <div class="contenedorInterno">
        <h3> REGISTRAR VENTAS</h3>
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Ventas" asp-action="Index">Ver Ventas Registradas </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Ingresar Ventas</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                       Ingrese la información de la venta
                    </div>
                    <div class="col-md-7 card-body">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            @if (ViewBag.ErrorMessage != null)
                            {
                                <div id="error-message" class="alert alert-danger alert-dismissible fade show" role="alert">
                                    @ViewBag.ErrorMessage
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            }
                            @if (ViewBag.ErrorUnidades != null)
                            {
                                <div id="error-message" class="alert alert-danger alert-dismissible fade show" role="alert">
                                    @ViewBag.ErrorUnidades
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            }

                            <div class="form-group">
                                <label asp-for="FechaVenta" class="control-label"></label>
                                <input asp-for="FechaVenta" class="form-control" />
                                <span asp-validation-for="FechaVenta" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="Producto.IdCategoria" class="control-label"></label>
                                <select asp-for="Producto.IdCategoria" id="IdCategoria" class="form-control" asp-items="ViewBag.IdCategoria"></select>
                                <input type="hidden" id="CategoriaValor" name="CategoriaValor" />
                            </div>

                            <div class="form-group">
                                <label asp-for="Producto.NombreProducto" class="control-label"></label>
                                <select asp-for="Producto.NombreProducto" id="NombreProducto" class="form-control" asp-items="ViewBag.NombreProducto"></select>
                                <input type="hidden" id="NombreProductoValor" name="NombreProductoValor" />
                            </div>

                            <div class="form-group">
                                <label asp-for="Producto.DescripcionProducto" class="control-label"></label>
                                <select asp-for="Producto.DescripcionProducto" id="DescripcionProducto" class="form-control" asp-items="ViewBag.DescripcionProducto"></select>
                                <input type="hidden" id="DescripcionProductoValor" name="DescripcionProductoValor" />
                            </div>


                            <div class="form-group">
                                <label asp-for="UnidadesVenta" class="control-label"></label>
                                <input asp-for="UnidadesVenta" class="form-control" id="unidadesVenta" />
                                <span asp-validation-for="UnidadesVenta" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PrecioUnitarioVenta" class="control-label"></label>
                                <input asp-for="PrecioUnitarioVenta" class="form-control" id="precioUnitarioVenta" />
                                <span asp-validation-for="PrecioUnitarioVenta" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PrecioTotalVenta" class="control-label"></label>
                                <input asp-for="PrecioTotalVenta" class="form-control" id="precioTotalVenta" readonly />
                                <span asp-validation-for="PrecioTotalVenta" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="IdEmpleado" class="control-label"></label>
                                <select asp-for="IdEmpleado" class="form-control" asp-items="ViewBag.IdEmpleado"></select>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Registrar Venta" class="btn btn-raised btn-primary" />
                                <a asp-action="Index" class="btn btn-raised btn-secondary">Regresar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {

            //Asigna el primer valor para que no pueda enviarse vacio
            $('#IdCategoria').prop('selectedIndex', 0);
            var DescripcionInicialText = $('#IdCategoria option:selected').text();
            $('#CategoriaValor').val(DescripcionInicialText);

            $('#NombreProducto').prop('selectedIndex', 0);
            var NombreProductoText = $('#NombreProducto option:selected').text();
            $('#NombreProductoValor').val(NombreProductoText);

            $('#DescripcionProducto').prop('selectedIndex', 0);
            var DescripcionProductoText = $('#DescripcionProducto option:selected').text();
            $('#DescripcionProductoValor').val(DescripcionProductoText);

            $('#CostoProducto').prop('selectedIndex', 0);
            var CostoProductoText = $('#CostoProducto option:selected').text();
            $('#CostoProductoValor').val(CostoProductoText);



            //Asigna valores en relacion de los elementos seleccionados

            function seleccionarPrimerElemento() {
                //Funciones Automaticas (Siempre se asigna la primera opcion en caso el usuario no lo cambie)
                $('#DescripcionProducto').prop('selectedIndex', 0);
                var DescripcionProductoText = $('#DescripcionProducto option:selected').text();
                $('#DescripcionProductoValor').val(DescripcionProductoText);

                $('#CostoProducto').prop('selectedIndex', 0);
                var CostoProductoText = $('#CostoProducto option:selected').text();
                $('#CostoProductoValor').val(CostoProductoText);
            }


            $('#IdCategoria').change(function () {
                var CategoriaText = $(this).find("option:selected").text();
                $('#CategoriaValor').val(CategoriaText);

                var categoriaId = $(this).val();
                $.ajax({
                    url: '@Url.Action("GetProductosByCategoria")',
                    type: 'GET',
                    data: { id: categoriaId },
                    success: function (data) {
                        $('#NombreProducto').empty();
                        $('#DescripcionProducto').empty();
                        $('#CostoProducto').empty();
                        $.each(data, function (index, item) {
                            $('#NombreProducto').append($('<option>', { value: item.id, text: item.nombre }));
                            $('#DescripcionProducto').append($('<option>', { value: item.id, text: item.descripcion }));
                            $('#CostoProducto').append($('<option>', { value: item.id, text: item.costo }));
                        });

                        $('#NombreProducto').prop('selectedIndex', 0);
                        var NombreProductoText = $('#NombreProducto option:selected').text();
                        $('#NombreProductoValor').val(NombreProductoText);

                        seleccionarPrimerElemento();
                    }
                });
            });

            $('#NombreProducto').change(function () {
                var NombreProductoText = $(this).find("option:selected").text();
                $('#NombreProductoValor').val(NombreProductoText);

                var productoId = $(this).val();
                $.ajax({
                    url: '@Url.Action("GetProductoDetalles")',
                    type: 'GET',
                    data: { id: productoId },
                    success: function (data) {
                        $('#DescripcionProducto').empty();
                        $('#CostoProducto').empty();
                        $('#DescripcionProducto').append($('<option>', { value: data.id, text: data.descripcion }));
                        $('#CostoProducto').append($('<option>', { value: data.id, text: data.costo }));

                        seleccionarPrimerElemento();
                    }
                });
            });

            //Funciones por seleccion manual (Siempre se asigna la primera opcion en caso el usuario no lo cambie)
            $('#DescripcionProducto').change(function () {
                var selectedText = $(this).find("option:selected").text();
                $('#DescripcionProductoValor').val(selectedText);
            });

            $('#CostoProducto').change(function () {
                var selectedText = $(this).find("option:selected").text();
                $('#CostoProductoValor').val(selectedText);
            });

        });
    </script>


    <script>
        document.getElementById('unidadesVenta').addEventListener('input', calcularTotal);
        document.getElementById('precioUnitarioVenta').addEventListener('input', calcularTotal);

        function calcularTotal() {
            var unidades = parseFloat(document.getElementById('unidadesVenta').value) || 0;
            var precioUnitario = parseFloat(document.getElementById('precioUnitarioVenta').value) || 0;
            var total = unidades * precioUnitario;
            document.getElementById('precioTotalVenta').value = total.toFixed(2);
        }
    </script>
</body>
</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
