@model ProyectoDES_Empresa.Models.Producto

@{
    ViewData["Title"] = "Create";
}

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">

            <div class="form-group">
                <label asp-for="IdCategoria" class="control-label"></label>
                <select asp-for="IdCategoria" class ="form-control" asp-items="ViewBag.IdCategoria"></select>
            </div>
            <div class="form-group">
                <label asp-for="NombreProducto" class="control-label"></label>
                <input asp-for="NombreProducto" class="form-control" />
                <span asp-validation-for="NombreProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionProducto" class="control-label"></label>
                <input asp-for="DescripcionProducto" class="form-control" />
                <span asp-validation-for="DescripcionProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnidadesProducto" class="control-label"></label>
                <input asp-for="UnidadesProducto" class="form-control" />
                <span asp-validation-for="UnidadesProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostoProducto" class="control-label"></label>
                <input asp-for="CostoProducto" class="form-control" />
                <span asp-validation-for="CostoProducto" class="text-danger"></span>
            </div>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
