@model ProyectoDES_Empresa.Models.Producto

@{
    ViewData["Title"] = "Edit";
}


<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="~/css/Create.css" />
    <link rel="stylesheet" href="~/css/Index.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
</head>
<body>
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["ErrorMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <input type="hidden" asp-for="ID" />

                <div class="form-group">
                    <label asp-for="IdCategoria" class="control-label"></label>
                    <select asp-for="IdCategoria" class="form-control" asp-items="ViewBag.IdCategoria"></select>
                </div>

                <div class="form-group">
                    <label asp-for="NombreProducto" class="control-label"></label>
                    <select asp-for="NombreProducto" class="form-control" asp-items="ViewBag.NombreProducto"></select>
                </div>

                <div class="form-group">
                    <label asp-for="DescripcionProducto" class="control-label"></label>
                    <select asp-for="DescripcionProducto" class="form-control" asp-items="ViewBag.DescripcionProducto"></select>
                </div>

                <div class="form-group">
                    <label asp-for="CostoProducto" class="control-label"></label>
                    <select asp-for="CostoProducto" class="form-control" asp-items="ViewBag.CostoProducto"></select>
                </div>

                @* <div class="form-group">
                    <label asp-for="NombreProducto" class="control-label"></label>
                    <select asp-for="NombreProducto" class="form-control" asp-items="ViewBag.IdProducto"></select>
                </div> *@

            </div>
        </div>
    </div>


    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <script>
        $(document).ready(function () {
            $('#IdCategoria').change(function () {
                var categoriaId = $(this).val();
                $.ajax({
                    url: '@Url.Action("GetProductosByCategoria")',
                    type: 'GET',
                    data: { id: categoriaId },
                    success: function (data) {
                        $('#NombreProducto').empty();
                        $('#DescripcionProducto').empty();
                        $('#CostoProducto').empty();
                        $.each(data, function (index, item) {
                            $('#NombreProducto').append($('<option>', { value: item.id, text: item.nombre }));
                            $('#DescripcionProducto').append($('<option>', { value: item.id, text: item.descripcion }));
                            $('#CostoProducto').append($('<option>', { value: item.id, text: item.costo }));
                        });
                    }
                });
            });

            $('#NombreProducto').change(function () {
                var productoId = $(this).val();
                $.ajax({
                    url: '@Url.Action("GetProductoDetalles")',
                    type: 'GET',
                    data: { id: productoId },
                    success: function (data) {
                        $('#DescripcionProducto').empty();
                        $('#CostoProducto').empty();
                        $('#DescripcionProducto').append($('<option>', { value: data.id, text: data.descripcion }));
                        $('#CostoProducto').append($('<option>', { value: data.id, text: data.costo }));
                    }
                });
            });
        });
    </script>



</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
